ul {
    /* background: ghostwhite;  */

    /* font-size: 20px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    margin: 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap; */

  /* background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px; */
/* 
  width: 200px;
  height: 200px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  display: contents */

  /* border-style: ridge; */
  /* border-style: solid;
  border-color: black;
  border-radius: 5px; */
  border: 1px solid black;
  padding-right: 0px;
  padding-left: 28px;
  width: 350px;
  border-radius: 5px;
  } 